# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
//pasos para subir cambios
# 1. git add .
# 2. git commit -m "mensaje"
# 3. git push origin main
# 4. git pull origin main   // actualizar cambios del repositorio remoto
# 5. git status             // verificar el estado del repositorio
# 6. git log                // ver el historial de commits}   
//
